<h1><%= @project.name %></h1>

<div class="row">
  <div class="col s4"> 
    <h3>To Do</h3> 
      <ul>
        <% @project.to_dos.each do |task| %>
          <li><%= link_to task.title, task %></li>
        <% end %>
      </ul>
  </div>
  <div class="col s4"> 
    <h3>Doing</h3>
      <ul>
        <% @project.doings.each do |task| %>
          <li><%= link_to task.title, task %></li>
        <% end %>
      </ul>
  </div>
  <div class="col s4">
    <ul> 
      <h3>Done</h3> 
      <% @project.dones.each do |task| %>
        <li><%= link_to task.title, task %></li>
      <% end %>
    </ul>
  </div>
</div>