// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment_box {
  width: 100%;
}

.comment_font_content {
  font-size: 18px;
}

.comment_font_details {
  font-size: 12px;
}